.book_banner {
    background-image: url("../../../assets/banner-img.jpg");
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.banner {
    width: 500px;
    text-align: center;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.banner h2 {
    padding-top: 100px;
    color: rgb(102, 107, 242);
}