.home .container{
    max-width: 1200px;
   margin:0 auto;

}
.books .head {
  display: flex;
  justify-content: center;
  margin: 2%;
  font-size: 30px;
}

.populor_books {
  display: flex;
  column-gap:20px;
    justify-content: center;
   margin-bottom: 10%;

}
.main_card {
  width: 330px !important;
 
}
.div_img {
  height: 100% !important;
}
.css-1ra0usn-MuiCardMedia-root {
  background-size: contain  !important;
}