.slide .container {
    max-width: 1200px;
    margin: 0 auto;
}
.carousel .carousel-status {
    display: none !important;

}
.carousel .control-dots {

}
ul{
    padding: 0px;
}
.css-bhp9pd-MuiPaper-root-MuiCard-root  {
    box-shadow: none !important;
}