Link , li {
    list-style: none;
    text-decoration: none;

}
.nav_items  {
    display: flex;
    column-gap: 60px;
}
.link {
    text-decoration: none;
    /* gap: 20px; */
}

a{
    text-decoration: none;
   
}