.book_page .container {
    max-width: 1200px;
    margin: 0 auto;
}


.books_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* column-gap: 10px; */
    row-gap: 50px;
    /* padding: 0px 20px; */
    padding-left: 40px;
    margin: 5% 0px;

}
/* .maping_datas {
    display: ;
} */
.filters {
    display: flex;
    justify-content: center;
    column-gap: 10px;
   
}
.search {
    margin-top: 5%;

    display: flex;
    justify-content: center;
}
.select {
    border: none;
    outline: none;
    padding: 20px;
    background: none
}
.add_button {
    display: flex;
    justify-content: end;
    cursor: pointer;
}
.add_button button {
    border: none;
    outline: none;
    background: none;
    background-color: rgb(0, 183, 255);
    padding: 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;

} 