.view_page .container {
    max-width: 1200px;
    margin: 0 auto;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */

}
.view_page_card {

    margin: 2%;
}
.card_content {
    margin-left: 20% ;
    margin-top: 42px;
}
.review .toggle_btn button {

}
.review .toggle_btn {
    border: none;
    outline: none;
    background: none;
   background-color: rgb(225, 159, 234);
    margin-left: 2%;
    color: white;
}
.review  {
    margin-left: 9%;
    /* margin-left: 20%; */
}
.cardmedia_img {
 max-width: 290px ;
}
.cardmedia_img img{
    max-width: 100% ;
    height: 100%;
   }

   .css-exh2jq-MuiCardMedia-root  {
    height: 100% !important;
    padding-top: 25px !important;
   }
   .css-1oqv2c0-MuiPaper-root-MuiCard-root {
    box-shadow: none !important;
   }

 